.page-header {
  &__box {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 130px;
    margin: 0 auto;
  }
  &__logo {
    position: relative;
    width: 270px;
    height: 130px;
  }
  &__name {
    position: absolute;
    left: 68px;
    bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }
  &__logo:hover {
    opacity: 0.6;
  }
  &__logo:active {
    opacity: 0.3;
  }
  &__mail-box {
    width: 230px;
  }
  &__mail {
    display: block;
    position: relative;
    margin-top: 50px;
    margin-left: 48px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #333333;
    font-weight: normal;
  }
  &__mail:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -45px;
    width: 33px;
    height: 31px;
    background-image: url(../img/icons/message.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__mail:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &__mail:active {
    opacity: 0.3;
    cursor: pointer;
  }
  &__tel-box {
    position: relative;
    width: 155px;
    padding-top: 35px;
    padding-left: 45px;
  }
  &__tel-box:before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    top: 45px;
    left: -3px;
    background-image: url(../img/icons/smartphone.png);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &__tel:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &__tel:active {
    opacity: 0.3;
    cursor: pointer;
  }
  &__tel {
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }
  &__basket {
    position: relative;
    width: 270px;
    padding-top: 18px;
  }
  &__basket-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__basket-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
  }
  &__quantity {
    color: #3a8dbd;
    text-decoration: underline;
  }
  &__quantity:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &__quantity:active {
    opacity: 0.3;
    cursor: pointer;
  }
  &__nav {
    background-color: #3a8dbd;
    height: 110px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1170px;
    margin: 0 auto;
  }
  &__item {
    list-style-type: none;
    background-color: #3a8dbd;
  }

  &__link {
    display: block;
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    padding-top: 71px;;
    padding-bottom: 15px;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #3a8dbd;
    background-repeat: no-repeat;
  }
  &__link:hover {
    background-color: #faadbf;
  }
  &__link:active {
    background-color: #faadbf;
    opacity: 0.4;
  }
  &__link:before:hover {
    background-color: #faadbf;
  }
  &__list &__item:nth-child(1) &__link {
    background-image: url(../img/icons/menu/home.png);
    background-position: 63px 15px;
  }
  &__list &__item:nth-child(2) &__link {
    background-position: 55px 17px;
    background-image: url(../img/icons/menu/info.png);
  }
  &__list &__item:nth-child(3) &__link {
    background-position: 60px 20px;
    background-image: url(../img/icons/menu/bed.png);
  }
  &__list &__item:nth-child(4) &__link {
    background-position: 100px 25px;
    background-image: url(../img/icons/menu/shipped.png);
  }
  &__list &__item:nth-child(5) &__link {
    background-position: 72px 22px;
    background-image: url(../img/icons/menu/handshake.png);
  }
  &__list &__item:nth-child(6) &__link {
    background-position: 70px 20px;
    background-image: url(../img/icons/menu/phone-book.png);
  }
}
