.preview {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px; 
  &__video-box {
    position: relative;
    width: 368px;
    border: 1px solid #dcdcdc;
  }
  &__video-title {
    position: absolute;
    left: 1px;
    bottom: -15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
  }
  &__info-box {
    width: 368px;
    border: 1px solid #dcdcdc;
    background-image: url(../img/popular/05-Belyy-2-1024x683.jpg);
    background-repeat: no-repeat;
    background-size: 188px 124px;
    background-position: 195px 93px;
  }
  &__app-box {
    width: 368px;
    border: 1px solid #dcdcdc;
    background: url(../img/android.png) 163px 60px no-repeat,
                url(../img/apple-ios-logo.png) 72px 60px no-repeat;
    background-size: 119px 80px,
                     89px 80px;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    color: #3a8dbd;
    text-align: center;
    margin-bottom: 3px;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    color: #a1a1a1;
    margin-left: 5px;
  }
  &__link-app {
    display: block;
    width: 131px;
    margin-top: 100px;
    margin-left: 95px;
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 11px 0;
    padding-left: 39px;
    background-color: #3a8dbd;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
  &__link-app:hover {
    background-color: #faadbf;
  }
  &__link-app:active {
    background-color: #faadbf;
    opacity: 0.5;
  }
}
