/* LESS Document */

.materials {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: none;
	&_title {
		padding-left: 15px;
		font-size: 22px;
		line-height: 32px;
		font-weight: bold;
		color: white;
		background-color: #0C314C;
		font-family: 'Roboto', sans-serif;
	}
	&_text {
		max-width: 850px;
		padding: 0 15px;
		margin: 17px auto;
		font-size: 16px;
		line-height: 18px;
		font-family: 'Roboto', sans-serif;
		color: #0C314C;
	}
	&_slider-box {
		position: relative;
		width: 80%;
		padding: 0 1%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
	}
	&_slider-box::before {
		content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 5;
		left: 1%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.49) 51%, rgba(255, 255, 255, 0) 100%);
	}
	&_slider-box::after {
		content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 5;
		right: 1%;
    background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.49) 51%, rgba(255, 255, 255, 0) 100%);
	}
	&_slide {
		position: relative;
		cursor: pointer;
	}
	&_popup {
		width: 300px;
		height: auto;
		position: fixed;
		top: 30%;
		left: 50%;
		margin-top: -150px;
		margin-left: -150px;
		display: none;
		opacity: 0; 
		z-index: 15;
	}
	&_container {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	&_button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 24px;
		height: 24px;
		background-color: white;
		outline: none;
		border: none;
		background-image: url(img/materials/icon-cross.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
		&:active {
			opacity: 0.7;
		}
	}
	&_box-1 {
		padding: 14px 18px;
		background-color: white;
	}
	&_product-name {
		margin-top: 0;
		padding-top: 20px;
		font-size: 24px;
		line-height: 26px;
		font-family: 'Roboto', sans-serif;
		color: #0C314C;
	}
	&_description {
		font-size: 14px;
		line-height: 16px;
		font-family: 'Roboto', sans-serif;
		color: #0C314C;
	}
	&_box-2 {
		background-color: #F1F1F1;
		padding: 14px 18px;
		display: none;
	}
	&_span {
		font-size: 18px;
		font-weight: bold;
		padding-left: 8px;
	}
	&_overlay {
		z-index: 8;
		position: fixed;
		background-color: #0C314C;
		opacity: 0.7;
		-moz-opacity: 0.7;
		filter: alpha(opacity=70);
		width: 100%; 
		height: 100%;
		top: 0;
		left: 0;
		cursor: pointer;
		display: none;
	}
}

body .materials .slick-next::before {
	color: #0C314C !important;
	font-size: 28px !important;
}

body .materials .slick-prev::before {
	color: #0C314C !important;
	font-size: 28px !important;
}

body .materials .slick-slide {
	outline: none !important;
}

body .materials .slick-dots li button::before {
	color: #0C314C !important;
	font-size: 9px !important;
}



@media screen and (min-width: 634px) {
	.materials {
		display: block;
		&_title {
			width: 205px;
			padding-left: 70px;
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 34px;
			font-weight: bold;
		}
		&_box-1 {
			display: flex;
		}
		&_img-box {
			min-width: 180px;
			max-width: 232px;
		}
		&_product-name {
			padding: 0;
		}
		&_description-box-3 {
			padding-left: 15px;
	  }
		&_popup {
			width: 580px;
			top: 30%;
			left: 50%;
			margin-top: -150px;
			margin-left: -290px;
		}
		&_box-2 {
			display: block;
		}
	}
}

@media screen and (min-width: 1100px) {
	.materials {
		&_popup {
			width: 900px;
			top: 40%;
			left: 50%;
			margin-top: -150px;
			margin-left: -450px;
		}
	}
}

@media screen and (min-width: 1100px) {
	.materials {
		&_product-name {
			padding-top: 20px;
		}
	}
}