
//fonts

$font-size--h1: 30px;
$font-size--h2: 25px;
$font-size--h3: 20px;
$font-size--h4: 18px;
$font-size--h5: 16px;
$font-size--h6: 14px;

// colors 
$dark: #000;
$light: #fff;
$button: #0c77b5;
$link: #0083ca;
$sale15: #e9c500; 
$sale20: #e99c00;
$sale30: #ff7600;
$sale40: #ff4338;
$sale50: #dc0029;
$sale60: #c900b4;
$bg-fb: #3a589d;
$bg-tw: #18a0f9;
$bg-vk: #6383ac;
$bg-ok: #d57900;
